/* nav.css */
.nav-box {
    border-radius: 4vh;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(2.5px);
    display: flex;
    height: 4.5vh;
    width: 60%;
    padding: 10px 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 72px;
    flex-shrink: 0;
    z-index: 1;
}
