.title-box {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-button {
    background-color: #333;
    color: #fff;
    padding: 20px 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.game-button:hover {
    background-color: #555;
}

.betting-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.betting-arrow {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.betting-arrow:hover {
    background-color: #555;
}

.betting-arrow img {
    filter: brightness(0) invert(1); /* 완전히 하얀색으로 변경 */
}

.betting-amount {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.2em;
    text-align: center;
}
